.moreInfo:hover {
    cursor: pointer;
}

.borderless {
    border: 0px solid #999 !important;
}

.defaultTable {
    border-spacing: 0.5rem;
    border-collapse: collapse;
    display: none;
}

.defaultTable td {
    border: 1px solid #999;
    padding: 0.5rem;
}